.search-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 350px;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    background: none;
    border: 2px solid #ba5bc8;
    color: #ba5bc8;
}

.search-box::placeholder {
    color: #ba5bc8;
}