 @import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

 body {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: linear-gradient(to left,
       #050006 0%,
       #300846 100%);
   text-align: center;
 }

 .app-title {
   margin-top: 75px;
   margin-bottom: 50px;
   font-size: 86px;
   color: #ba5bc8;
   font-family: 'Bigelow Rules', cursive;
 }